body {
	background-color: #FAFAFA;
}


.chatForm {
	margin-top: 30px;
}

.message-list-parent {
	padding: 30px;
<<<<<<< HEAD
	margin-top: 25px;;
=======
	margin-top: 35px;;
>>>>>>> 4f5c98e1c5933be0184880c69ab7d8e6ea7bbc25
	background: #f5f3f3c7;
    border-radius: 2px;
    overflow-y: auto;
    overflow-wrap: break-word;
<<<<<<< HEAD
    height: 525px;
	margin-bottom: 20px;
    border-bottom: 3px solid #ffbc00;
	-webkit-box-shadow: 0px 0px 5px 1px #DDD;    
	-moz-box-shadow: 0px 0px 5px 1px #DDD;    
	-o-box-shadow: 0px 0px 5px 1px #DDD;    
	box-shadow: 0px 0px 5px 1px #DDD;    
=======
    height: 490px;
	margin-bottom: 20px;
    border-bottom: 3px solid #ffbc00;
>>>>>>> 4f5c98e1c5933be0184880c69ab7d8e6ea7bbc25
}

.messages-list {
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #666;
	position: relative;
}

ul li {
	margin: 14px auto;
}

.valid-user {
	display: none;
}

.connected,
.desconnect {
    width: 100%;
    padding: 1px;
    text-align: center;
	padding: 15px;
    font-size: 18px;
    font-weight: 600;
}

.connected {
    background: #3c75;
}

.desconnect {
	background-color: #E57373;
	color: #FFF;
}


.warning-field, .warning-field:focus {
	-webkit-box-shadow: 0 0px 5px rgb(255, 0, 0);
	-moz-box-shadow: 0 0px 5px rgb(255, 0, 0);
	-o-box-shadow: 0 0px 5px rgb(255, 0, 0);
	box-shadow: 0 0px 5px rgb(255, 0, 0);
}

.deconnect, .online, .offline, .connect {
	display: none;
}

.sender {
	padding: 5px;
	background-color: #FAFAFA;
	border-radius: 3px;
	margin: 5px;
}


/* media query */

@media screen and (max-width: 767px) {
	.message-list-parent {
		height: 300px;
	}	
}